/* CSS Mini Reset */

@font-face {
  font-family: 'Monument Extended';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/MonumentExtended-Regular.woff2') format('woff2'),
    url('fonts/MonumentExtended-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/Syne-Medium.woff2') format('woff2'),
    url('fonts/Syne-Medium.woff') format('woff');
}

:root {
  --accent-color: #c90e3b;
  --grey-color: rgba(0, 0, 0, 0.2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
form,
input,
fieldset,
legend,
caption,
label,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre {
  font-family: 'Syne';
  font-size: 100%;
  font-weight: normal;

  margin: 0;
  padding: 0;

  vertical-align: baseline;

  border: 0;
  outline: 0;
  background: transparent;

  line-height: 1;

  -webkit-appearance: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  vertical-align: top;
}

img {
  border: 0;
}

body {
  background-color: #0a0a0a;
}

svg {
  display: flex;
}

button {
  -webkit-appearance: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input {
  color: #fff;
  background-color: #1D1D1D;
  padding: 0;
  text-decoration: none;
  border-radius: 2px;
  border: 2px solid transparent;
  transition: 100ms;
  height: 42px;
}

input[type="text"] {
  padding: 0.6rem 0.4rem;
  border-radius: 2px;
}

input[type="number"] {
  font-family: "Monument Extended";
  text-align: right;
  font-size: inherit;
}

input:focus {
  border: 2px solid var(--accent-color);
  -webkit-appearance: none;
}

input:read-only {
  color: inherit;
  background-color: transparent;
  border: 0;
}

@media (prefers-color-scheme: light) {
  input {
    color: #000;
    background-color: #c5c5c5;
  }

  body {
    background-color: #fff;
  }
}

.blink {
  animation: blinker 2s ease infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

span {
  display: contents;
}