/* CSS Mini Reset */

@font-face {
  font-family: 'Monument Extended';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/MonumentExtended-Regular.woff2') format('woff2'),
    url('/fonts/MonumentExtended-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/Syne-SemiBold.woff2') format('woff2'),
    url('/fonts/Syne-SemiBold.woff') format('woff');
}

:root {
  --accent-color: #CB2A37;
  --separator-color: rgba(255, 255, 255, 0.08);
  --grey-color: #808080;
  --text-color: #fff;

  --background-color: #0a0a0a;
}

@media (prefers-color-scheme: light) {
  :root {
    --separator-color: rgba(0, 0, 0, 0.2);
    --text-color: #000;
    --background-color: #dfdfdf;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  -webkit-font-smoothing: antialiased;
}

html,
body,
div,
form,
input,
fieldset,
legend,
caption,
label,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
blockquote,
pre {
  font-family: 'Syne';
  font-size: 100%;
  font-weight: normal;

  margin: 0;
  padding: 0;

  vertical-align: baseline;

  border: 0;
  outline: 0;
  background: transparent;

  line-height: 1;

  -webkit-appearance: none;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--grey-color);
  opacity: 0.4;
}

::-webkit-scrollbar-thumb {
  background-color: var(--background-color);
  opacity: 0.6;
  transition: .15s linear;
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
  opacity: 0.8;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  vertical-align: top;
}

img {
  border: 0;
}

body {
  background-color: var(--accent-color);
}

button {
  -webkit-appearance: none;
}

a {
  display: inline-block;
  color: initial;
  transition: all 150ms ease;
}

a:visited {
  color: initial;
}

a:hover {
  transform: translateY(-2px);
  color: #fff;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input {
  color: var(--text-color);
  background-color: #1D1D1D;
  padding: 0;
  text-decoration: none;
  border-radius: 2px;
  border: 2px solid transparent;
  transition: 100ms;
  height: 42px;
}

input[type="text"] {
  padding: 0.6rem 0.4rem;
  border-radius: 2px;
}

input[type="number"] {
  font-family: "Monument Extended";
  text-align: right;
  font-size: inherit;
}

input:focus {
  border: 2px solid var(--accent-color);
  -webkit-appearance: none;
}

input:read-only {
  color: inherit;
  background-color: transparent;
  border: 0;
}

@media (prefers-color-scheme: light) {
  input {
    background-color: #c5c5c5;
  }
}

.blink {
  animation: blinker 2s ease infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

span {
  display: contents;
}